.misc/
.DS_Store
*/.DS_Store

__pycache__/
*/__pycache__/
*/*/__pycache__/

dataset/*/*.json
dataset/*/*.mp3

images/

results/dumped/*
results/phase*/*

pickled/*/
pickled/*.pth

scripts/log/
utils/skip.pyc
